{
    "appName" : "MyApp",
    "baseUrl" : "http://fano.com",

    "db" : {
        "mysql" : {
            "version" : "mysql 5.7",
            "host" : "localhost",
            "port" : 3306,
            "username" : "[YOUR USER NAME]",
            "password" : "[YOUR PASSWORD]",
            "database" : "[name of database to open]"
        }
    }
}
